.app {
    font-family: 'Roboto, sans-serif';
    background-color: #EFECEC;
    color: #1A374D;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('./assets/img/fondo.png');
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  .welcome-text-container {
    flex: 1;
    align-self: center;
    text-align: left;
  }
  
  .welcome-text {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .welcome-title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .welcome-subtitle {
    font-size: 40px;
    line-height: 1.5;
  }
  
  .main-button-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
  }
  
  .main-button-title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .main-nav-button {
    background: linear-gradient(to bottom, #005ABA, #00356C);
    border: none;
    color: white;
    padding: 20px 40px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Media Queries para la adaptación responsive */
  @media (max-width: 1200px) {
    .main {
      flex-direction: column;
      text-align: center;
    }
  
    .welcome-text-container {
      width: 100%;
    }
  
    .main-button-container {
      margin-left: 0; /* Eliminar margen izquierdo en resoluciones menores */
      align-items: center; /* Centrar el contenedor horizontalmente */
    }
  
    .welcome-title {
      font-size: 50px;
    }
  
    .welcome-subtitle,
    .main-button-title,
    .main-nav-button {
      font-size: 32px;
    }
  
    .main-nav-button {
      padding: 15px 30px;
      width: 80%;
      max-width: 400px;
    }
  
    .welcome-text {
      width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .main-button-container {
      width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
      align-items: center; /* Centrar horizontalmente */
    }
  
    .welcome-title {
      font-size: 40px;
    }
  
    .welcome-subtitle,
    .main-button-title,
    .main-nav-button {
      font-size: 24px;
    }
  
    .main-nav-button {
      padding: 12px 25px;
      width: auto; /* Ajuste para que el botón no se estire demasiado */
    }
  }
  
  @media (max-width: 480px) {
    .main-button-container {
      width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
      align-items: center; /* Centrar horizontalmente */
    }
  
    .welcome-title {
      font-size: 32px;
    }
  
    .welcome-subtitle,
    .main-button-title,
    .main-nav-button {
      font-size: 18px;
    }
  
    .main-nav-button {
      padding: 10px 20px;
      width: auto; /* Ajuste para que el botón no se estire demasiado */
    }
  
    .welcome-text {
      padding: 15px;
    }
  }
  