@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EFECEC;
    font-family: 'Roboto', sans-serif;
}

.form-container {
    width: 100%;
    max-width: 450px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: white;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 0;
    font-weight: bold;
}

label{
    margin-left: 10px;
}

.form-group input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form-group select {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input, select {
  width: 109%;
  margin-top: 5px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input::placeholder {
    color: #000;
}

.icons {
    margin-left: 15px;
}

.button-register {
    width: 90%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.links {
    margin-top: 20px;
}

.links a {
    color: #007bff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .form-container {
        padding: 10px;
        margin: 10px auto;
    }

    h2 {
        font-size: 1.5rem;
    }

    button {
        padding: 8px;
    }
}
